.App {
  text-align: center;
  padding: 20px;
}

.rectangle-container {
  background-color: #ccc;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.active-advice {
  font-size: 1.5em;
  margin: 0;
}

.advice-number {
  font-size: 1em;
  color: #555;
}

.button-container {
  margin-top: 10px;
}

.button {
  font-size: 1em;
  padding: 10px 15px;
  cursor: pointer;
}
