body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.rectangle-container {
  background-color: hsl(217, 19%, 24%);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  max-width: 375px; /* Mobile width */
  margin-left: auto;
  margin-right: auto;
}

.advice-number {
  font-size: 24px; /* Reduced font size for better visibility */
  color: hsl(193, 38%, 86%); /* Light Cyan */
  margin-bottom: 10px;
}

.active-advice {
  font-size: 28px; /* Body copy font size */
  color: hsl(193, 38%, 86%); /* Light Cyan */
  margin: 0;
}

.button-container {
  margin-top: 10px;
}

.button {
  font-size: 1em;
  padding: 10px 15px;
  cursor: pointer;
  background-color: hsl(150, 100%, 66%); /* Neon Green */
  color: hsl(193, 38%, 86%); /* Light Cyan */
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.button:hover {
  background-color: hsl(150, 100%, 56%); /* Slightly darker Neon Green on hover */
}

